<button
  class="toggle"
  type="button"
  mat-button
  aria-label="toggle sidebar"
  (click)="toggle()"
>
  <mat-icon aria-label="toggle icon">menu</mat-icon>
</button>

<mat-drawer-container
  [hasBackdrop]="false"
  [ngClass]="{ 'dark-theme': isDarkTheme | async }"
>
  <button class="back" *ngIf="!isHome()">
    <mat-icon
      (click)="location.back()"
      aria-label="back"
    >
      keyboard_arrow_left
    </mat-icon>
  </button>

  <button class="forward" *ngIf="!isHome()">
    <a *ngIf="next" routerLink="{{ next }}">
      <mat-icon
        aria-label="forward"
      >
        keyboard_arrow_right
      </mat-icon>
    </a>
  </button>
  <mat-chip-list *ngIf="filterService.get()">
    <mat-chip>
      {{ filterService.get() }}
      <mat-icon matChipRemove (click)="filterService.clear()">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <mat-drawer
    #sidenav
    class="sidenav"
    mode="{{ mobileQuery.matches ? 'over' : 'push' }}"
  >
    <app-sidenav
      class="sidenav"
      [isDarkTheme]="isDarkTheme"
      [toggle]="toggleBind"
    >
    </app-sidenav>
  </mat-drawer>

  <div class="main-body" (click)="open ? toggle() : null">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
