<mat-drawer-container
  [hasBackdrop]="false"
  [ngClass]="{ 'dark-theme': isDarkTheme | async }"
>
  <button
    class="toggle"
    type="button"
    mat-button
    (click)="toggle()"
    aria-label="toggle sidebar"
  >
    <mat-icon aria-label="toggle icon">menu</mat-icon>
  </button>

  <mat-drawer
    #sidenav
    class="sidenav"
    mode="{{ mobileQuery.matches ? 'over' : 'push' }}"
    opened="{{ open }}"
  >
    <app-sidenav
      class="sidenav"
      toggle-dark-theme="toggleDarkTheme"
      is-dark-theme="isDarkTheme"
      [toggle]="toggleBind"
    ></app-sidenav>

  </mat-drawer>

  <div class="main-body" [ngClass]="{
    'small': sidenav.open,
    'smaller': mobileQuery.matches
  }">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
