<mat-card class="post">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <mat-card-header>
        <mat-card-title cdkDragHandle class="post__title">{{
          post.label
        }}</mat-card-title>
        <mat-card-subtitle
          >{{ post.type }}, {{ post.category }}
        </mat-card-subtitle>
        <a
          class="post__share"
          target="_blank"
          href="http://twitter.com/share?text={{craftTweet()}}&url=http://www.tscards.sh">
          <mat-icon aria-label="Share on twitter">share</mat-icon>
        </a>
      </mat-card-header>
      <img mat-card-image src="{{ post.image }}" alt="Abstact image" />
      <mat-card-content>
        <mat-chip-list class="post__complexity">
          <mat-chip *ngIf="post.time" class="post__time post__complexity-item"
            >time: {{ post.time }}</mat-chip
          >
          <mat-chip *ngIf="post.time" class="post__time post__complexity-item"
            >space: {{ post.space }}
          </mat-chip>
          <mat-chip *ngIf="!post.time" style="visibility: hidden"></mat-chip>
        </mat-chip-list>

        <p>
          {{ post.summary }}
        </p>
      </mat-card-content>
      <mat-card-actions class="post__actions">
        <button
          *ngIf="post.path"
          class="post__more"
          routerLink="/detail/{{ post.path }}"
          mat-flat-button
          color="accent"
        >
          Read more.
        </button>
      </mat-card-actions>
      <div class="flip-card-back">
        <img
          class="post__back-image"
          mat-card-image
          src="{{ post.image }}"
          alt="Abstact image"
        />
      </div>
    </div>
  </div>
</mat-card>
