app-list, main-body {
  display: block;
}
.post-list {
  padding: 16px;
  display: flex;
  flex-direction: column;

  &__empty {
    padding: 0 16px;
    margin: 20px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
    width: 100%;
  }

  @media (min-width: 500px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    padding: 16px 0;
    width: auto;

    &__list {
      justify-content: flex-start;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.post-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
