<h1 routerLink="/" (click)="postService.clear()">
  {{ title }}
</h1>

<nav class="sidenav__navigation">
  <mat-accordion class="sidenav__accordian">
    <mat-expansion-panel *ngFor="let link of links; index as index">
      <mat-expansion-panel-header>
        <mat-panel-title tabindex="{{ index }}">
          {{ link.label }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="sidenav__parent-links">
        <li
          class="sidenav__child"
          tabindex="{{ i }}"
          *ngFor="let child of link.links; index as i"
          (click)="child.count && (isMobile ? toggleAndFilter(child) : filter(child))"
        >
          <a
            *ngIf="!isResources(link.label)"
            routerLink="/"
            [ngClass]="{
              'active': postService.isCurrent(child.label),
              'disabled': !count
            }"
            >{{ child.label }}</a
          >
          <a
            href="{{ child.link }}"
            [ngClass]="{
              'active': postService.isCurrent(child.label),
              'disabled': !count
            }"
            target="_blank"
            *ngIf="isResources(link.label)"
          >
            {{ child.author }} -
            {{ child.label }}
          </a>

          <small
            *ngIf="!isResources(link.label) && child.count"
            aria-label="count"
            >{{ child.count }})</small
          >
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</nav>

<section class="sidenav__options">
  <mat-slide-toggle
    class="example-margin"
    [disabled]="true"
    [color]>
    Test your Skills! - <span class="accent">Coming soon</span>
  </mat-slide-toggle>
  <br />
  <mat-slide-toggle
    (change)="themeSerivce.toggle()"
    [checked]="dark"
    [color]
  >
    Dark mode
  </mat-slide-toggle>
</section>

<section class="sidenav__social">
  <span *ngFor="let social of socials">
    <a
      target="_blank"
      href="{{ social.link }}"
      class="social__label {{ social.label }}">
      {{ social.label }}
    </a>

  </span>
</section>

