@import "normalize.css";

html,
body,
mat-drawer-container {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;

  section { box-sizing: border-box }
}
a {
  text-decoration: none;
  color: #222;
}
.flip-cards {
    cursor: pointer;
}
.dark-theme {
  .mat-drawer-content {
    background-color: #222;
  }
  mat-panel-title,
  mat-expansion-panel-header,
  mat-panel-title,
  .mat-expansion-panel-content {
    background-color: #424242 !important;
    color: #f4f4f4 !important;
  }
  mat-expansion-panel-header:hover {
    background-color: #313131 !important;
    color: #f4f4f4 !important;
    mat-panel-title {
        background-color: #313131 !important;
    }
  }
  a {
    color: #f4f4f4 !important;
  }
}

.mat-dialog-container {
    border-radius: 25px;
}